<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datacenter.mapper.DailyweatherMapper">

    <resultMap id="BaseResultMap" type="com.example.datacenter.model.domain.Dailyweather">
            <id property="dateTime" column="DateTime" jdbcType="DATE"/>
            <result property="temperature" column="Temperature" jdbcType="FLOAT"/>
            <result property="weatherType" column="WeatherType" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        DateTime,Temperature,WeatherType,
        createTime,updateTime,isDelete
    </sql>
</mapper>
