<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datacenter.mapper.RennetpurchaseMapper">

    <resultMap id="BaseResultMap" type="com.example.datacenter.model.domain.Rennetpurchase">
            <id property="rennetOrderID" column="RennetOrderID" jdbcType="CHAR"/>
            <result property="supplierName" column="SupplierName" jdbcType="VARCHAR"/>
            <result property="rennetName" column="RennetName" jdbcType="VARCHAR"/>
            <result property="rennetBatchCode" column="RennetBatchCode" jdbcType="CHAR"/>
            <result property="rennet_Best_Before" column="Rennet_Best_Before" jdbcType="DATE"/>
            <result property="rennet_Open_Date" column="Rennet_Open_Date" jdbcType="DATE"/>
            <result property="quantity" column="Quantity" jdbcType="FLOAT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="isUsed" column="isUsed" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        RennetOrderID,SupplierName,RennetName,
        RennetBatchCode,Rennet_Best_Before,Rennet_Open_Date,
        Quantity,createTime,updateTime,
        isDelete,isUsed
    </sql>
</mapper>
