<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datacenter.mapper.SalesorderMapper">

    <resultMap id="BaseResultMap" type="com.example.datacenter.model.domain.Salesorder">
            <id property="salesOrderID" column="SalesOrderID" jdbcType="CHAR"/>
            <result property="cheeseWheelID" column="CheeseWheelID" jdbcType="VARCHAR"/>
            <result property="buyerName" column="BuyerName" jdbcType="VARCHAR"/>
            <result property="time" column="Time" jdbcType="TIMESTAMP"/>
            <result property="weight" column="Weight" jdbcType="FLOAT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        SalesOrderID,CheeseWheelID,BuyerName,
        Time,Weight,createTime,
        updateTime,isDelete
    </sql>
</mapper>
